<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Second Page</h1>
    <div class="row">
        <div class="col-sm-12 table-responsive">
    <form ngForm="">
        <table id="tab">
           <thead>
            <tr>
            <th>AID</th>
            <th>AGID</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td style="white-space: nowrap;"><input type="text" placeholder="" class="form-control"></td>
            <td style="white-space: nowrap;"><input type="text" placeholder="" class="form-control"></td>
            <td style="white-space: nowrap;"><button class="btn btn-danger">-</button></td>
        </tr>
    </tbody>
    </table>

    </form>
    
    <br/>

<button (click)="next()"type="button" class="btn btn-success">NEXT</button>



